
#div1 {
    background-image: url("air\ ballons.jpg");
    height: 300px;
    width: 200px;
    margin: 20px;
  }
  
  #div2 {
    background-image: url("images.jpg");
    height: 300px;
    width: 200px;
    margin: 20px;
  }
  
  #div3 {
    background-image: url("sunset-cropped_E3dHha_BV.webp");
    height: 300px;
    width: 200px;
    margin: 20px;
  }
  
  #div4 {
    background-image: url("ocean.jpg");
    height: 300px;
    width: 200px;
    margin: 20px;
  }
  
  #div5 {
    background-image: url("paris.jpg");
    height: 300px;
    width: 200px;
    margin: 20px;
  }
  
  #div6 {
    background-image: url("wordpress-image-sizes-1024x512.png");
    height: 300px;
    width: 200px;
    margin: 20px;
  }
  
  div.container {
    border: 5px solid #555;
  }
  
  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .selected {
    border: 5px solid rgb(0, 195, 255);
  }
  
  p {
    text-align: center;
  }
  
  button {
    margin: 20px;
  }
  